@model List<ARPrj.DataAccess.Flight>
    <div class="container-fluid">
        @foreach (var item in Model)
        {
            <div style="border: 1px solid #19101014;padding: 17px;margin-top: 30px;margin-bottom:10px">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-2">
                                <img src="https://www.abay.vn/Images/Icon/Flight/Airline/AirlineLogo/smVJ_Full.gif" alt=""
                                     height="22px">
                            </div>
                            <div class="col-lg-2">
                                <span>@item.DepartureTime</span>
                            </div>
                            <div class="col-lg-2">
                                <span>---------</span>
                            </div>
                            <div class="col-lg-2">
                                <span>@item.ArrivalTime</span>
                            </div>
                            <div class="col-lg-2">
                                <span>2h 10m</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <span>@item.Airport.Name</span>
                            </div>
                            <div class="col-lg-2">
                                <span>@item.From</span>
                            </div>
                            <div class="col-lg-2">
                                <span>bay thang</span>
                            </div>
                            <div class="col-lg-2">
                                <span>@item.To</span>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 24px">
                            <div class="col-lg-2">
                                <img src="https://www.abay.vn/Images/Icon/Flight/Airline/AirlineLogo/smVJ_Full.gif" alt=""
                                     height="22px">
                            </div>
                            <div class="col-lg-2">
                                <span>13:50</span>
                            </div>
                            <div class="col-lg-2">
                                <span>---------</span>
                            </div>
                            <div class="col-lg-2">
                                <span>16:00</span>
                            </div>
                            <div class="col-lg-2">
                                <span>2h 10m</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2">
                                <img src="https://www.abay.vn/Images/Icon/Flight/Airline/AirlineLogo/smVJ_Full.gif" alt=""
                                     height="22px">
                            </div>
                            <div class="col-lg-2">
                                <span>13:50</span>
                            </div>
                            <div class="col-lg-2">
                                <span>---------</span>
                            </div>
                            <div class="col-lg-2">
                                <span>16:00</span>
                            </div>
                            <div class="col-lg-2">
                                <span>2h 10m</span>
                            </div>
                        </div>

                    </div>
                    <div style="width: 1px;height: 129px;
    background-color:#19101014;
    position:absolute;
    right:400px">&nbsp;</div>
                    <div class="col-lg-3" style="margin-top:21px">
                        <div class="row">
                            <span>@item.Airline.NetPrice</span>
                        </div>

                        <div class="row">
                            <button class="btn btn-primary" type="submit">Chon</button>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
