@model ARPrj.DataAccess.InformationFlight

@{
    ViewBag.Title = "Details";
}
    <div class="content-header">

        <div class="leftside-content-header">

            <ul class="breadcrumbs">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/">Dashboard</a></li>
            </ul>
        </div>
    </div>
<h2>Details</h2>

<div>
    <h4>InformationFlight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketsType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketsType.TypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InformationFlightID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
