@model IEnumerable<ARPrj.DataAccess.InformationFlight>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flight.FlightId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketsType.TypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Count)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreateDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UpdateDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Flight.FlightId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketsType.TypeName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.InformationFlightID }) |
        @Html.ActionLink("Details", "Details", new { id = item.InformationFlightID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.InformationFlightID })
    </td>
</tr>
}

</table>
