@{
    Layout = "";
}
@model ARPrj.WebManagement.Models.AccountView

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Assets/client/js/login.js"></script>
    <link href="~/Assets/client/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            @Html.ValidationMessage("Error", new { @class = "text-danger" })
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <form class="form-signin">
                    <span id="reauth-email" class="reauth-email"></span>
                    @Html.TextBoxFor(model => Model.UserName, new { @class = "form-control", @placeholder = "Username" })
                    @Html.ValidationMessageFor(model => Model.UserName, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => Model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
            @Html.ValidationMessageFor(model => Model.Password, "", new { @class = "text-danger" })
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
            }
        </div><!-- /card-container -->
    </div><!-- /container -->
</body>
</html>