@model ARPrj.DataAccess.Flight

@{
    ViewBag.Title = "Details";
}
<div class="content-header">

    <div class="leftside-content-header">

        <ul class="breadcrumbs">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/">Dashboard</a></li>
        </ul>
    </div>
</div>
<h2>Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Airport.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airport.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Airport1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airport1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartureDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatsLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatsLeft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Airline.AirlineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airline.AirlineName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FlightId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
